<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sistema | Listar Pacientes</title>
</head>
{% extends 'adminlte/base.html' %}
{% block content %}
<div id="" class="gray-bg"><br>
	{% if object_list %}
	<div class="table-responsive"/>
	<h1>LISTA DE PACIENTES</h1>
	<hr>
	<table class="table table-bordered">
		<thead>
			<tr>
				<td>Codigo</td>
				<td>Nombre</td>
				<td>Rut</td>
				<td>Fecha de nacimiento</td>
				<td>Fecha ingreso</td>
				<td>Ficha clinica</td>
			</tr>
		</thead>
		<tbody>
			{% for paciente_list in object_list %}
			<tr>
				<td>{{paciente_list.codigo}}</td>
				<td>{{paciente_list.nombre}}</td>
				<td>{{paciente_list.rut}}</td>
				<td>{{paciente_list.fecha_nacimiento}}</td>
				<td>{{paciente_list.fecha_ingreso}}</td>
				<td>{{paciente_list.ficha_clinica}}</td>
        <td style="border :1px solid transparent ">
				<a class="btn btn-primary" href="{% url 'paciente:paciente_editar' paciente_list.id %}"><i class="ion-edit"></i> Editar</a>
              	<a class="btn btn-danger" href="{% url 'paciente:paciente_eliminar' paciente_list.id %}"> <i class="ion-android-delete"></i> Eliminar</a>
        </td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<h1>No hay registro de pacientes</h1>
	<hr>
	<td>
		<a class="btn btn-primary" href="{% url 'paciente:paciente_crear' %}"> <i class="ion-plus-round"></i> Agregar Paciente </a>
	</td>
	{% endif %}
</div>
</div>
 </html>
{% endblock %}