<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sistema | Listar Fichas Clinicas</title>
</head>
{% extends 'adminlte/base.html' %}
{% block content %}
<div id="" class="gray-bg"><br>
	{% if object_list %}
	<div class="table-responsive"/>
	<h1>LISTA DE FICHA CLINICAS</h1>
	<hr>
	<table class="table table-bordered">
		<thead>
			<tr>
				<td>Codigo</td>
				<td>Enfemedades</td>
				<td>Tratamiento</td>
				<td>Fecha de enfermedad</td>
				<td>Fecha termino tratamiento</td>
				<td>Resultado tratamiento</td>
			</tr>
		</thead>
		<tbody>
			{% for ficha_clinica in object_list %}
			<tr>
				<td>{{ficha_clinica_list.codigo}}</td>
				<td>{{ficha_clinica_list.enfermadades}}</td>
				<td>{{ficha_clinica_list.tratamiento}}</td>
				<td>{{ficha_clinica_list.fecha_enfermedad}}</td>
				<td>{{ficha_clinica_list.fecha_termino_tratamiento}}</td>
				<td>{{ficha_clinica_list.resultado_tratamiento}}</td>
        <td style="border :1px solid transparent ">
				<a class="btn btn-primary" href="{% url 'fichaClinica:ficha_clinica_editar' ficha_clinica_list.id %}"><i class="ion-edit"></i> Editar</a>
              	<a class="btn btn-danger" href="{% url 'fichaClinica:ficha_clinica_eliminar' ficha_clinica_list.id %}"> <i class="ion-android-delete"></i> Eliminar</a>
        </td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<h1>No hay fichas de pacientes</h1>
	<hr>
	<td>
		<a class="btn btn-primary" href="{% url 'fichaClinica:ficha_clinica_crear' %}"> <i class="ion-plus-round"></i> Agregar Ficha Clinica </a>
	</td>
	{% endif %}
</div>
</div>
 </html>
{% endblock %}